/* コンテナA */
#containerA {
  display: grid;
  grid-template-rows: 100px 50px;
  grid-template-columns: 100px 1fr, 2fr;
}

/* アイテムA */
#itemA {
  grid-row: 1 / 3;
  grid-column: 1 / 2;
  background: #f88;
}

#itemB {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  background: #8f8;
}

#itemC {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  background: #88f;
}

/* コンテナB*/
#containerB {
  margin: 10px 0;
  display: grid;
  grid-template-rows: 100px 50px;
  grid-template-columns: 150px 1fr;

  grid-template-areas:
    "areaD areaE"
    "areaD areaF";
}

/* アイテムB */
#itemD {
  grid-area: areaD;
  background: #f88;
}

#itemE {
  grid-area: areaE;
  background: #8f8;
}

#itemF {
  grid-area: areaF;
  background: #88f;
}

/* コンテナC */
#containerC {
  display: grid;
  grid-template-rows: 200px 100px;
  grid-template-columns: 200px 100px 100px;
}
