body {
  display: grid;
  margin: 0;
  min-height: 100vh;
  grid-template-rows: 100px 100px 1fr 100px;
  grid-template-columns: 100px 1fr 100px;
  grid-template-areas:
    "title  title  title "
    "nav    main   ad    "
    "nav    main   side  "
    "nav    main   side  "
    "footer footer footer";
}

body > * {
  margin: 3px;
  padding: 10px;
}

h1 {
  grid-area: title;
  background: #f88;
}

main {
  grid-area: main;
  background: #90ee90;
}

nav {
  grid-area: nav;
  background: #1e90ff;
}

#side {
  grid-area: side;
  background: #ffb6c1;
}

footer {
  grid-area: footer;
  background: #c0c0c0;
}

#ad {
  grid-area: ad;
  background: #808080;
}
